.ui.menu{
    font-size: 1em;
}



.navbar.navbar-inverted{
    background-color: black;
}
.navTabular{
    font-size: 17px;
    color: aqua;
}

i.icon{
    font-size: 2em;
}

.container.main{
    margin-top: 7.0em;
}

#delete{
    display: inline;
}